.footer {
    padding: 100px 0 88px;
    background: var(--dark);
}

.footer__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.footer__left {
    display: flex;
    gap: 160px;
    align-items: flex-start;
}

.footer__col {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__col-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer__col-list_item-link {
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--white);
}

.footer__col-title {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: var(--white);
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.nums {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__col-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.footer__col-social_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2.5px;
    color: var(--white);
}

.footer__col-social_list {
    display: flex;
    align-items: flex-start;
    gap: 26px;
}

.footer__col-social_list-item_link {
    font-size: 30px;
    color: var(--light);
}

@media screen and (max-width: 1080px) { 
    .footer {
        padding: 80px 0;
    }

    .footer__wrap {
        grid-template-columns: 526px;
        justify-content: center;
        place-content: center;
        gap: 50px;
    }

    .footer__left {
        justify-content: center;
    }

    .footer__right {
        align-items: center;
        text-align: center;
        gap: 42px;
    }

    .footer__col-list {
        align-items: center;
    }

    .footer__col-social {
        align-items: center;
    }
}

@media screen and (max-width: 656px) {
    .footer__col-list_item-link {
        font-size: 14px;
    }
    
    .footer__col-title {
        font-size: 16px;
    }
 
    .footer__col-social_title {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) { 
    .footer {
        padding: 60px 0;
    }

    .footer__col {
        gap: 25px;
    }

    .footer__col-title {
        font-size: 20px;
    }

    .footer__wrap {
        grid-template-columns: minmax(290px, 526px);
        justify-content: center;
        place-content: center;
        gap: 50px;
    }

    .footer__left {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        padding: 55px 0;
    }

    .footer__col {
        gap: 20px;
    }

    .footer__right {
        gap: 50px;
    }

    .footer__col-social {
        gap: 22px;
    }
}